:host {
    ion-content {
        --background-size: cover;
        --background: url('/bg.jpg') repeat;
		--top: 70;
		--left: 0;
		--bottom: 0;
		--right: 0;
		--position: relative;
		--z-index: 0;
    }
}

.paz {
	position: relative;
    z-index: 10;
      
}